{%extends 'product/master.html'%}
{% block content %}
<h1>اهداف سایت</h1>
    <p>  ضمن همه گیری شبکه های اجتماعی ، سایت /// قصد دارد تا محیطی راحت و جذابی را برای شما عزیزان بوجود بیاورد که باتبادل نظرات و تجربیات  از سوی شما کاربران دیگر باعث افزایش سطح اگاهی و دانش کاربران شود</p>
   <p>ضمن اینکه ممکن است سوالات مطرح شده از سوی شما ، سوالات کاربران خارج از سایت نیز باشند و یا سوالات کاربران دیگر سوالات شما باشند.پس از اینرو موتورهای جستو جو از طریق سایت من قادر به راهنمایی شما و دیگر کاربران خواهند بود </p>
{% endblock %}