{% extends 'product/master.html'%}
{% block body%}
<form method="POST">
    {% csrf_token %}

    <input type="password" placeholder="پسورد قبلی" name="old_password"><br>
    <input type="password" placeholder="پسورد جدید" name="new_password1"><br>
    <input type="password" placeholder="تکرار پسورد جدید" name="new_password2"><br>
    <button type="submit"> تکمیل شد </button>
</form>
{% endblock%}
<!--# TITLE-->
{% block title %}
تغیر پسورد
{% endblock  %}
<!--#HEAD-->
{% block head %}
{% endblock  %}

<!--# NAVBAR-->
{% block navbar %}
{% endblock  %}
<!--# FOOTER-->
{% block footer %}
{% endblock  %}