{% extends 'product/master.html' %}
{% block head %}

{% endblock %}{% block title %}

{% endblock %}
{% block navbar %}
<a href="{% url 'product:home' %}">خانه</a>
{% endblock %}

{% block body %}
{% load thumbnail%}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div style="background-color : aqua;height: 40px;font-size: 30px;margin-top: 25px;width: 400px; margin-left: 550px">
        نمایش پروفایل
    </div>
    <ul id="profile">
        {% thumbnail user.image "100x100" as im %}
        <img src="{{ im.url }}" alt="عکس پروفایل">

        {% endthumbnail %}
        <li></li>
        <li style="padding:10px ; "><input type="text" style="padding: 5px" name="username"
                                           value="{{ user.username }}" placeholder="نام کاربری"></li>
        <li style="padding:10px"><input type="text" style="padding: 5px" name="bio" placeholder="بیو"
                                        value="{% if user.bio %}{{ user.bio }}{% endif %}"></li>
        <li style="padding:10px"><input type="file" style="padding: 5px" name="image" placeholder="عکس">
            تغییر عکس پروفایل
        </li>

        <li><a href="{% url 'accounts:change_password' %}"> تغییر پسورد </a></li>
        <!--            <li style="padding:10px ; " hidden id="password_check"><input type="text" style="padding: 5px"></li>-->
        <li>
            <button id='sub' type="submit"> اعمال تغیرات</button>
        </li>

    </ul>


</form>
{% endblock %}{% block footer %}

{% endblock %}{% block scripts %}

{% endblock %}