{%extends 'product/master.html'%}
{% block body %}
<h1>شرایط و قوانین سایت</h1>
    <p>با سلام وعرض ادب و احترام خدمت شما عزیزان</p>
    <p>سایت //////// شامل قوانین و مقرراتی است که جهت رضامندی و ارامش شما فراهم شده است و شامل قوانین زیر است </p>
    <ul>
    <li>خواهشمندیم از هر گونه توهین و بی احترامی به دیگران بپرهیزید. در صورت مشاهده به شما اخطار و در صورت عدم رعایت حرمت و احترام اشخاص ، سایت من مجبور ب تعلیق حساب کاربری شما خواهد شده که در این صورت دیگر قادر به ورود به سایت با حساب کاربری خود نخواهید بود </li>
    <li>از انجام هر گونه جر وبحث بیمورد خودداری کنید</li>
    <li>خدمات سایت برای شما کاملا رایگان است. لذا هرگونه در خواست وجه از سمت سایت ///// نیست و سایت ///هیچ گونه مسولیتی در این قبال ندارد</li>
    <li>هر حساب کاربری شامل نام کاربری، ایمیل، تلفن همراه منحصر به فرد است. لطفا هنگام ثبت نام، نام کاربری، و ایمیل وتلفن همراه خود را در جایی یادداشت کنید. زیرا در صورت فراموشی رمز عبور تنها ورود شما از طریق ایمیل امکانپذیر خواهد بود</li>
    <li>از انجام هر گونه فحاشی و بی احترامی به اشخاص سیاسی و مذهبی خودداری کنید. سایت //// هیچ گونه مسولیتی در این مورد ندارد و مسولیت کلیه اضهارات کاربر به عهده خود کاربر میباشد.در صورت مشاهده اخطار وحذف تاپیک و در صورت لزوم سایت /////////// مجبور به تعلیق حساب کاربری شما خواهد شد </li>
    <li>انجام تبلیغات در پستها خلاف قوانین سایت است، در صورت مشاهده کاربری شما تعلیق خواهد شد.انجام تبلیغات فقط در صفحه فروشگاه کاربران و تنها برای کاربرانی امکانپذیر است که بیشترین بازخورد را در روز کسب کرده باشند. با کسب بیشترین بازخورد در روز سایت ///// ،به کاربر 3 اکشن تعلق میگیرد ، وبه ازای هر اکشن کاربر قادر به درج یک اگهی در فروشگاه کاربران خواهد بود </li>
    </ul>
{% endblock %}












