{% extends 'home/master.html' %}
{% load mathfilters %}
{% block title %}خانه{% endblock %}
{% block head %}{% endblock %}
{% block navbar %}{% endblock %}
{% block body %}
    {% for product in queries %}
        {{ product.name }}
    {% endfor %}
    <div class="pagination">
        <a {% if queries.has_previous %} href="{% url 'home' queries.previous_page_number %}" {% else %}
                                         disabled {% endif %}>&laquo;</a>

        {% for num in page.page_range %}
            {% if page_num|sub:num > 2 %}<a disabled>...</a>
            {% elif page_num|sub:num|abs <= 2 %}
                <a href="{% url 'home' num %}" {% if num == page_num %} class="active" {% endif %}>{{ num }}</a>
            {% else %}
                <a disabled>...</a>
            {% endif %}

        {% endfor %}

        <a {% if queries.has_next %} href="{% url 'home' queries.next_page_number %}" {% else %} disabled {% endif %}>&raquo;</a>


    </div>
{% endblock %}
{% block footer %}{% endblock %}